body {
	margin: 0 auto;
	width: 960px;
	font-size: 100.1%;
	background-color: #000;
}
h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.5em;
}
p, h1, h2, h3, h4, h5, h6, a, span, div {
	font-family: "Malabar LT W01 Regular", Georgia, serif;
}
p, a {
	font-size: 0.813em;
}
p>a {
	font-size: 1em;
}
p {
	line-height: 1.5em;
}
hr {
	clear: both;
}

.bigger {
	font-size: 1.1em;
	line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6, p, a, .grey {
	color: #909090;
}
