html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
pre {
	font-family: monospace;
}
body {
	font-family: sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { margin: 0; overflow: hidden; }
.vizard-ui-control { cursor: pointer; border: 1px solid rgba(255, 255, 255, .2); margin: -5px -10px; padding: 4px 9px; }
.vizard-ui-control:hover { background-color: rgba(255, 0, 0, .2); }

#toolbar:hover {
	top: 0;
}
#toolbar {
	position: absolute;
	border-bottom: 1px solid white;
	padding: 0.25em 0;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	color: black;
	text-align: center;
	top: -1.25em;
}
#toolbar ul {
	list-style-type: none;
	margin: 0 auto;
}
#toolbar li {
	display: inline-block;
}
