body { margin: 0; }
.vizard-ui-control { border: 1px dotted rgba(255, 255, 255, .2); margin: -1px; }
.vizard-ui-layer pre { background-color: rgba(0, 0, 0, .4); color: white; margin: 0 auto; width: 960px; overflow-x: scroll; padding: 1em 2em; }
